<div>
    <p>勤怠一覧</p>
</div>
<div>
<% if @kintai.present? %>
    <table>
        <tr>
            <td>出勤日</td>
            <td>出勤時間</td>
        </tr>
        <% @kintai.each do |f| %>
        <tr>
            <td><%= link_to (f.kintai_from).strftime('%Y%m%d'), edit_kintai_path(f) %></td>
            <td><%= (f.kintai_from).strftime('%H%M') %></td>
        </tr>
        <% end %>
    </table>
<% end %>
<div style="margin:20px;">
    <%= link_to "戻る", root_path %>
</div>
</div>