<% if obj.errors.present? %>
    <div style="color:#FF0000;">
        <ul>
            <% obj.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
            <% end %>
        </ul>
    </div>
<% end %>